<launch>
  <arg name="multi_robot_name" default=""/>
  <!--<arg name="set_lidar_frame_id" default="base_scan"/>-->

  <include file="$(find autobot_bringup)/launch/autobot_core.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>
<!-- Not support lidar
  <include file="$(find autobot_bringup)/launch/autobot_lidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
  </include>
-->

  <node pkg="autobot_bringup" type="autobot_diagnostics" name="autobot_diagnostics" output="screen"/>
</launch>
